.addNewLicenseModal {}
.addNewLicenseModal .modal-title {
    color: var(--primary);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.addNewLicenseModal .modal-dialog {
    max-width: 380px;
}
.addNewLicenseModal .modal-dialog .modal-content {
    border-radius: 12px;
}
.addNewLicenseModal .modal-body {
    padding: 40px 30px;
}
.addNewLicenseModal .input-label {
    font-size: 16px;
    color: var(--oceanDark);
    font-weight: 600;
}
.addNewLicenseModal .modal-input i {
    color: var(--oceanDark);
    font-size: 20px;
    right: 10px;
}
.addNewLicenseModal .modal-input input,
.addNewLicenseModal .modal-input select {
    width: 100%;
    border: 1px solid var(--border);
    padding: 10px 40px 10px 10px;
    border-radius: 8px;
    font-size: 16px;
    color: var(--oceanDark);
    font-weight: 600;
    outline-color: var(--primary);
}
.addNewLicenseModal .modal-input select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 10px 50%;
    background-size: 20px;
}