body {
  background-color: #fff;
  min-height: 100vh;
}

body::before {
  position: absolute;
  content: '';
  z-index: 1;
  background: url("../../images/shapes/shape-01.svg") left top no-repeat;
  background-size: contain;
  width: 100%;
  height: 255px;
  top: -30px;
  left: 0;
}

/* content */
.content {
  height: 100vh;
  padding: 100px 0;
}

.content .title {
  color: var(--blue);
  font-size: 36px;
  font-weight: bold;
}

.content .para {
  color: var(--gray);
  font-size: 24px;
}

/* inputs */
.content .inputs {
  gap: 18px;
}

.content .inputs .code-input {
  width: 80px;
  height: 80px;
  background-color: #ECF3F6;
  border: 0;
  border-radius: 4px;
  text-align: center;
  font-size: 36px;
  color: var(--oceanDark);
}

.content .inputs .code-input:focus {
  outline: 2px solid var(--blue);
}

.content .inputs .code-input::-webkit-outer-spin-button,
.content .inputs .code-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content .inputs .code-input[type=number] {
  -moz-appearance: textfield;
}

.content .buttons {
  gap: 20px;
}

.content .buttons .theme-btn {
  min-width: 240px;
}

/* copyright-main-section */
.crt {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px;
}

.crt .crt-img {
  width: 90px;
}

.crt .crt-text {
  font-size: 20px;
  font-weight: 500;
  font-family: "Fira Sans Condensed", sans-serif;
  color: var(--oceanDark);
  -webkit-user-select: none;
  user-select: none;
}