body {
  background-color: #fff;
}

/* right-col */
.right-col {
  position: relative;
  background: url("../../images/bg/bg-01.png") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  backdrop-filter: brightness(20%);
}
.right-col .content {
  position: relative;
  padding: 100px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}
@media (max-width: 991px) {
  .right-col {
    min-height: unset;
  }
}

/* title */
.right-col .title {
  font-size: 40px;
  color: #BAD9AA;
  font-weight: bold;
  margin-bottom: 30px;
}
.right-col .para {
  font-size: 20px;
  color: #fff;
  max-width: 290px;
  margin-bottom: 45px;
}
.right-col .theme-btn {
  min-width: 260px;
}
@media (max-width: 767px) {
  .right-col .title {
    font-size: 26px;
  }
  .right-col .para {
    font-size: 16px;
  }
}

/* left-col */
.left-col .content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 130px 30px;
  flex-direction: column;
  overflow-y: auto;
}
.left-col .content::-webkit-scrollbar {
  width: 10px;
}
.left-col .content::-webkit-scrollbar-thumb {
  background: var(--light);
}
.left-col .title {
  font-size: 42px;
  font-weight: bold;
  color: var(--blue);
}
.left-col .theme-btn[type="submit"] {
  min-width: 280px;
}
@media (max-width: 991px) {
  .left-col .content {
    min-height: unset;
  }
}
@media (max-width: 767px) {
  .left-col .content {
    padding: 150px 15px;
  }
  .left-col .title {
    font-size: 26px;
  }
  .left-col .theme-btn[type="submit"] {
    min-width: 200px;
    padding: 15px 20px;
    font-size: 16px;
  }
}

/* copyright-main-section */
.crt {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px;
  text-align: center;
}
.crt .crt-img {
  width: 90px;
}
.crt .crt-text {
  font-size: 20px;
  font-weight: 500;
  font-family: "Fira Sans Condensed", sans-serif;
  color: var(--oceanDark);
  -webkit-user-select: none;
  user-select: none;
}